@font-face {
    font-family: "CircularStd";
    font-style: normal;
    font-weight: 300;
    src: local("CircularStd-book");
}

body {
    scroll-behavior: smooth;
    font-family: CircularStd;
    font-size: 14px;
    margin: 0;
}

header {
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    height: 80px;
    z-index: 100;
    position: absolute;
    width: 100%;
}

.main-content {
    padding: 20px 0;
    width: 1180px;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.download-icon {
    width: 16px;
    height: 16px;
}

.sub-head-1 {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 40px;
}

.sub-head-2 {
    font-size: 32px;
    font-weight: 900;
}

.sub-head-3 {
    font-size: 52px;
    font-weight: 900;
}

.content {
    font-size: 20px;
    color: #63738b;
    line-height: 36px;
}

.sn-icons {
    margin-top: 70px;
    a {
        color: #fff;
    }
    img {
        width: 28px;
        height: 28px;
        margin-right: 40px;
    }
}

.sn-icons-bottom {
    margin-top: 30px;
    a {
        color: #fff;
    }
    img {
        width: 28px;
        height: 28px;
        margin-right: 40px;
    }
}

.top-nav {
    padding: 28px 0;
    width: 1140px;
    margin: 0 auto;
    font-size: 20px;
    position: sticky;
    .left-nav {
        float: left;
        span {
            margin-right: 30px;
            a {
                color: #aaaaaa;
                text-decoration: none;
            }
            .active {
                color: #000000 !important;
            }
            a:hover {
                color: #000;
                transition: 0.2s;
            }
        }
    }
    .cnt-dtls {
        float: right;
        span {
            margin-right: 30px;
        }
    }
}

.about {
    padding-top: 240px;
    .about-dtls {
        display: inline-block;
        padding: 20px;
        width: 50%;
        vertical-align: top;
        margin-top: 10px;
        div {
            display: block;
        }
        .cnt {
            margin-top: 20px;
        }
    }
    .dis-pic {
        display: inline-block;
        margin-left: 35px;
        img {
            width: 456px;
            height: 382px;
        }
    }
}

.exp {
    margin-top: 50px;
    padding: 20px;
    .cnt {
        margin-top: 20px;
    }
    .exp-list {
        padding: 40px 0px;
        .item-icon-dtls {
            width: 200px;
            display: inline-block;
            .wp-icon {
                width: 156px;
            }
            .wp-desgn {
                font-weight: 900;
                color: #000;
            }
        }
        .content {
            display: inline-block;
            width: 800px;
            vertical-align: top;
        }
    }
}

.list-details {
    margin-top: 50px;
    .list-item {
        .grid-dis {
            width: 400px;
            height: 300px;
            background: #c5cad1;
            display: inline-block;
        }
        .grid-des {
            margin: 0px 48px;
            width: 520px;
            display: inline-block;
            vertical-align: top;
            p {
                margin-bottom: 0px;
            }
            a {
                display: block;
            }
        }
    }
}

.clmn-view {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 90px;
    .clmn-item {
        .clmn-dis-img {
          border-radius: 10px;
          img{
            width: 520px;
          }
        }
        .clmn-des {
        
        }
    }
}

.blog-list {
    padding: 76px 20px 20px 20px;
}

.work-list {
    margin-top: 100px;
    padding: 96px 0px 0px 20px;
}

a{
  color: #0352CC;
  text-decoration: none;font-size: 18px;
}
a:visited {
  color: #0352CC;
}
p{
  margin: 20px 0px 0px 0px;
  padding: 0;
}